{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset=utf-8>
    <meta name=description content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="author" content="" />
    <title>soccer club</title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/logo2.png' %}"; />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

        <!-- Core theme CSS (includes Bootstrap)-->
        <link rel="stylesheet" href="{% static 'css/layerslider.css' %}">
        <link rel="stylesheet" href="{% static 'css/vendor.css' %}">
        <link rel="stylesheet" media="screen" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body><!--[if lt IE 10]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
<div class=wrapper>
    <header class=header-main>
        <div class=header-upper>
            <div class=container>
                <div class=row>
                    <ul>
                        <li><a href="#">Signup/login</a></li>
                        <li><a href=shopcart.html><i class="fa fa-shopping-cart"></i> <span>cart(<span
                                class=cartitems>0</span>)</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="header-lower clearfix">
            <div class=container>
                <div class=row><h1 class=logo><img src="{% static 'images/logo2.png' %}"; alt=image></h1>

                    <div class=menubar>
                        <nav class=navbar>
                            <div class=nav-wrapper>
                                <div class=navbar-header>
                                    <button type=button class=navbar-toggle><span class=sr-only>Toggle navigation</span>
                                        <span class=icon-bar></span></button>
                                </div>
                                <div class=nav-menu>
                                    <ul class="nav navbar-nav menu-bar">
                                        <li><a href=index-2.html>Home <span></span> <span></span> <span></span>
                                            <span></span></a></li>
                                        <li><a href=about.html>about <span></span> <span></span> <span></span>
                                            <span></span></a></li>
                                        <li><a>gallery <span></span> <span></span> <span></span> <span></span></a>
                                            <ul class=sub-menu>
                                                <li><a href=gallerypage01.html>masonry</a></li>
                                                <li><a href=gallery02.html>gallery column two</a></li>
                                                <li><a href=gallery03.html>gallery column 03</a></li>
                                            </ul>
                                        </li>
                                        <li><a href=blog.html>blog <span></span> <span></span> <span></span>
                                            <span></span></a></li>
                                        <li><a href=bookTicket.html class=active>book Tickets <span></span>
                                            <span></span> <span></span> <span></span></a></li>
                                        <li><a href=shop.html>shop <span></span> <span></span> <span></span>
                                            <span></span></a></li>
                                        <li><a href=contact.html>contact <span></span> <span></span> <span></span>
                                            <span></span></a></li>
                                        <li><a>error <span></span> <span></span> <span></span> <span></span></a>
                                            <ul class=sub-menu>
                                                <li><a href=400.html>400 page</a></li>
                                                <li><a href=401.html>401 page</a></li>
                                                <li><a href=403.html>403 page</a></li>
                                                <li><a href=404.html>404 page</a></li>
                                                <li><a href=500.html>500 page</a></li>
                                                <li><a href=503.html>503 page</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </nav>
                    </div>
                    <div class=social><a href=https://www.facebook.com/templatespoint.net class=facebook><i
                            class="fa fa-facebook"></i></a> <a href=https://twitter.com/itobuztech class=twitter><i
                            class="fa fa-twitter"></i></a> <a href=https://www.behance.net/ class=behance><i
                            class="fa fa-behance"></i></a></div>
                </div>
            </div>
        </div>
    </header>
    <div class=innerbannerwrap>
        <div class=content></div>
        <div class=innerbanner style="background-image: url('{% static 'images/background/innerpageBg.jpg' %}');"><h2 class=bannerHeadline>book <span>ticket</span></h2></div>
    </div>
    <br/><br/>
    <br/><br/>
    <section>
        <div class=container>
            <div class=row><h2 class=heading>premium league <span>tickets the official way</span></h2>

                <p class=headParagraph>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat quisquam
                    reprehenderit, blanditiis nam debitis libero facilis illum repudiandae eveniet voluptatibus
                    quibusdam illo ea nisi ipsa accusantium nobis animi asperiores quaerat ,Lorem ipsum dolor sit amet,
                    consectetur adipisicing elit. Fugiat quisquam reprehenderit, blanditiis nam debitis libero facilis
                    illum repudiandae eveniet voluptatibus quibusdam illo ea nisi ipsa accusantium nobis animi
                    asperiores quaerat .</p>
                <div class=innerWrapper>
                    <aside class="widgetinner clearfix">
                        <div class=widgetinfowrap>
                            <div class=bg-blackimg style="background-image: url('{% static 'images/background/blackbg.jpg' %}');">why book width us?</div>
                            <ul class="widgetinfo info01">
                                <li>150% MONEY BACK GURANTEE</li>
                                <li>REAL TIME INVENTory</li>
                                <li>friendly customer service</li>
                                <li>secure payment</li>
                                <li>last minute bookings</li>
                                <li>7 years online swering fans</li>
                            </ul>
                            <a href=# class=blacklrnmore>learn more</a>
<br/><br/>
</div>
                    </aside>
                    <aside class=contentinner>
                        <div class="bg-red headline01"></div>
                        <ul class=ticketInfo >
                            {% for game in games %}
                            <li>
                                <ul class="t_info headline01 clearfix">
                                    <li></li>
                                    <li>
                                        <div class="headline01 clearfix"><span>Bandari</span><span
                                                class=vs>vs</span> <span>{{ game.opponent }}</span></div>
                                        <div class="ticketInner_info paragraph02 clearfix"><span>{{ game.Date}}</span>
                                            <span>{{ game.Time}}</span> <span class=capitalize01>Antigua Recreation</span>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="{% url 'checkout' %}" class="btn-small01 btn-green">book tickets</a>
                                    </li>
                                </ul>
                            </li>
                                {% endfor %}
                            </ul>
                    </aside>
            <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
        <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<div class=socialTicket><a href=https://www.facebook.com/templatespoint.net
                                                           class="social_link facebook"><i
                                        class="fa fa-facebook"></i></a> <a href=https://twitter.com/
                                                                           class="social_link twitter"><i
                                        class="fa fa-twitter"></i></a> <a href=https://www.behance.net/
                                                                          class="social_link behance"><i
                                        class="fa fa-behance"></i></a></div>
</div>
</div>
</div>
</section>
    <footer class=footer-type01>
        <div class=container>
            <div class=row>
                <ul class=footer-widget>
                    <li class=widget-about><h4 class=footerheading>about <span>soccer club</span></h4>

                        <p>Bandari Football Club is a Kenyan football club based in Mombasa. The team play their home games at the Mbaraki Sports Club and the Mombasa County Stadium and currently compete in the Kenyan Premier League </p>

                        <p><span class=uppercaseheading>address:</span><span class=red>239</span> main street
                            London,England.</p>

                        <p><span class=uppercaseheading>call:</span> <span class=red>1800-2222-3333</span></p></li>
                    <li class=widget-news><h4 class=footerheading>recent <span>news</span></h4>
                    </li>
                    <li class=widget-product><h4 class=footerheading>real <span>soccer products</span></h4>
                        <ul class=widget_productdetails>
                            <li><a href='#'>shoes(4)</a></li>
                            <li><a href='#'>men(4)</a></li>
                            <li><a href='#'>t-shirt(4)</a></li>
                            <li><a href='#'>sports(4)</a></li>
                            <li><a href="#">glass</a></li>
                        </ul>
                    </li>
                    <li></li>
                </ul>
            </div>
        </div>
        <div class=footer-type02 style="background-image: url('{% static 'images/background/heroesBg.jpg' %}');">
            <div class=container>
                <div class=row><a href=# class=footer-logo><img src="{% static 'images/logo2.png' %}" alt=image></a>

                    <div class=footer-container>
                        <ul class=clearfix>
                            <li><a href=https://www.facebook.com/templatespoint.net class=bigsocial-link><i
                                    class="fa fa-facebook"></i></a></li>
                            <li><a href=https://twitter.com/ class=bigsocial-link target=_blank><i
                                    class="fa fa-twitter"></i></a></li>
                            <li><a href=https://www.behance.net/ class=bigsocial-link target=_blank><i
                                    class="fa fa-behance"></i></a></li>
                        </ul>
                        <p><strong>BANDARI FC</strong></p></div>
                    <div class=footer-appstore>
                        <figure><a href=#><img src="{% static 'images/appstore/apple.png' %}" alt=image></a></figure>
                        <figure><a href=#><img src="{% static 'images/appstore/google.png' %}" alt=image></a></figure>
                    </div>
                </div>
            </div>
        </div>
    </footer>
<script src="{% static 'js/vendor/modernizr.js' %}"></script>
<script src="{% static 'js/vendor/vendor.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
</body>

</html>